


<section class="testomial-area mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1>Comentarios de clientes</h1>
                    <p>Los clientes frecuenes comentaron que...</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-lg-4 col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE5NTU2MzE2NDIwOTk4NjY3/bruce-lee-9542095-1-402.jpg">
                    </div>
                    <div class="card-body">
                        

                        <h4 class="card-title">Jet Lee</h4>

                        <p class="card-description">
                            “El precio siempre es un problema, solamente si usted suena igual que todo el mundo”.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTIwNjA4NjM0MTk3MjE0NzMy/stan-lee-21101093-1-402.jpg">
                    </div>
                    <div class="card-body ">
                        

                        <h4 class="card-title">Stan Lee</h4>

                        <p class="card-description">
                            "Cuando he alcanzado una victoria no vuelvo a utilizar por segunda vez la misma táctica, sino que, según las circunstancias, varío mis métodos hasta el infinito”.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0MTU0MTc3NzkzMTA3MzU1/beyonce-attends-tidal-x-1015-on-october-15-2016-in-new-york-city-photo-by-theo-wargogetty-images-for-tidal-sqaure.jpg">
                    </div>
                    <div class="card-body ">
                        

                        <h4 class="card-title">Unknow</h4>

                        <p class="card-description">
                            “Hacer negocios sin marketing es como guiñarle el ojo a una chica en la oscuridad. Sabes lo que estás haciendo, pero más nadie lo sabe”.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>





