<div class="schedule-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="section-title-wrap text-center">
                    <h1>Horario de Atencion</h1>
                    <p>Ven a clases diarias de Yoga & Meditacion para la Salud y Bienestar.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="table-wrap col-lg-6">
                <table class="schdule-table table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th class="head" scope="col">Dia</th>
                        <th class="head" scope="col">Hora</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="name" scope="row">Lunes</th>
                        <td>10:00 am - 8:00 pm</td>
                    </tr>
                    <tr>
                        <th class="name" scope="row">Martes</th>
                        <td>9:00 am - 8:00 pm</td>
                    </tr>
                    <tr>
                        <th class="name" scope="row">Miércoles</th>
                        <td>9:00 am - 8:00 pm</td>
                    </tr>
                    <tr>
                        <th class="name" scope="row">Jueves</th>
                        <td>9:00 am - 8:00 pm</td>
                    </tr>
                    <tr>
                        <th class="name" scope="row">Viernes</th>
                        <td>9:00 am - 8:00 pm</td>
                    </tr>
                    <tr>
                        <th class="name" scope="row">Sabado</th>
                        <td>10:00 am - 12:00 pm</td>
                    </tr>
                    <tr>
                        <th class="name" scope="row">Domingo</th>
                        <td>Cerrado</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
