<div class="row d-flex justify-content-center mb-5">
    <div class="col-lg-12">
        <div class="section-title-wrap text-center">
            <h1>Como We om & Co. puede cambiar tu vida</h1>
            <p>Nuestros alumnos aprenden a enseñar pero también a expandir conciencia de amor, paz, gratitud, perdón y compasión a ellos y a la humanidad</p>
        </div>
    </div>
</div>

<div class="row">
            <div class="col-lg-6 mb-4">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card text-center">
                            <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices1" src="assets/img/img-art1.jpg">
                            <h4 class="card-header">Yoga Institute</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card text-center">
                            <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices2" src="assets/img/img-art2.jpeg">
                            <h4 class="card-header">Namaste Tea Bar</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card text-center">
                            <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices3" src="assets/img/img-art3.jpg">
                            <h4 class="card-header">Shavasana SPA</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card text-center">
                            <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices4" src="assets/img/img-art4.jpg">
                            <h4 class="card-header">Espacio cósmico</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <img class="img-fluid" src="assets/img/about-img.png">
            </div>
</div>
