{% extends 'base.html' %}

  <head>
<!--CARPETA CSS-->

    <title>We Om & Co.</title>

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

</head>

{% block body %}
<div class="container-fluid">
      <div class="row">
          <div class="d-block w-100">
              <div class="carousel-item active">
                  <img class="d-block w-100" src="{% static 'img/yoga.jpg' %}" alt="First Slide"/>
              </div>
          </div>
      </div>
</div>
<div class="mb-5"></div>


<div class="container center-block">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-deck d-flex align-content-between">

               <div class="row mb-5">
                    <div class="col-lg-6">
                        <h5 class="card-title text-center text-warning">Sonnia Valverde</h5>
                        <img id="profe1" class="card-img-top rounded-circle mx-auto d-block" src="{% static 'img/profe1.png' %}" alt="Card image cap">
                        <div class="card-body col-lg-7 mx-auto d-block">

                            <p class="card-text text-center">Vedic Master Educadora en Meditacion Ayurveda y Yoga graduada en el Centro Chopra de California. E-500RYT-Instructora Internacional Registrada con Yoga Alliance. Life Coach & Trascendental Holistic Master Coach. Conferencista Internacional de Salud Mente-Cuerpo.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h5 class="card-title text-center text-warning">Paul Rios (PAYUCO)</h5>
                        <img id="profe2" class="card-img-top rounded-circle mx-auto d-block" src="{% static 'img/profe2.png' %}" alt="Card image cap">
                        <div class="card-body col-lg-7 mx-auto d-block">

                            <p class="card-text text-center">500 RYT Instructor Internacional 1er Decano Nacional del Yoga Institute</p>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-lg-6">
                        <h5 class="card-title text-center text-warning">Melissa Nebot</h5>
                        <img id="profe3" class="card-img-top rounded-circle mx-auto d-block" src="{% static 'img/profe3.png' %}" alt="Card image cap">
                        <div class="card-body col-lg-7 mx-auto d-block">

                            <p class="card-text text-center">Maestra Invitada E500 RYT especializada en Yoga para niños, Teens y Yoga Prenatal</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h5 class="card-title text-center text-warning">Mario Lemuriano</h5>
                        <img id="profe4" class="card-img-top rounded-circle mx-auto d-block" src="{% static 'img/profe4.png' %}" alt="Card image cap">
                        <div class="card-body col-lg-7 mx-auto d-block">

                            <p class="card-text text-center">E200 RYT Instructor Internacional y Director del Yoga Institute CUENCA -ECUADOR</p>
                        </div>
                    </div>
                </div>


                <div class="row mb-5">
                    <div class="col-lg-6">
                        <h5 class="card-title text-center text-warning">Marisela Sanchez</h5>
                        <img id="profe5" class="card-img-top rounded-circle mx-auto d-block p-3 bg-white" src="{% static 'img/profe5.png' %}" alt="Card image cap">
                        <div class="card-body col-lg-7 mx-auto d-block">

                            <p class="card-text text-center">200 RYT Instructora Internacional  & Maestra de Aero Yoga, Fundador de EN BIENESTAR HOLISTICO. Directora  del Yoga Institute QUITO -ECUADOR</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h5 class="card-title text-center text-warning">Cesar Riccardi</h5>
                        <img id="profe6" class="card-img-top rounded-circle mx-auto d-block p-3 bg-white" src="{% static 'img/profe6.png' %}" alt="Card image cap">
                        <div class="card-body col-lg-7 mx-auto d-block">

                            <p class="card-text text-center">500 RYT Instructor Internacional  de Yoga. Director Académico  Nacional del Yoga Institute.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

</html>
