{% extends 'base.html' %}

  <head>
    <!--CARPETA CSS-->
    <!--<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">-->

    <title>We Om & Co.</title>

      <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

	</head>

    {% block body %}

	   <!--Carousel-->
		<div id="carouselExampleIndicators" class="carousel slide .d-none .d-md-block .d-xl-none" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'img/yoga4.jpg' %}" alt="First Slide" />
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'img/yoga2.jpg' %}" alt="Second Slide"/>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" src="{% static 'img/yoga3.jpg' %}" alt="First Slide">
                    <img class="d-block w-100" src="{% static 'img/yoga3.jpg' %}" alt="Third Slide" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

		<!--Contenido de la Pagina-->
		<div class="container mt-5">
			<!--Descripcion de la pagina-->
			<div class="row d-flex justify-content-center mb-5">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center">
                        <h1>Como We om & Co. puede cambiar tu vida</h1>
                        <p>Nuestros alumnos aprenden a enseñar pero también a expandir conciencia de amor, paz, gratitud, perdón y compasión a ellos y a la humanidad</p>
                    </div>
                </div>
            </div>
			<!--Servicios que ofrece-->
			<div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card text-center">
                                <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices1" src="{% static 'img/img-art1.jpg' %}">
                                <h4 class="card-header">Yoga Institute</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-center">
                                <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices2" src="{% static 'img/img-art2.jpeg' %}">
                                <h4 class="card-header">Namaste Tea Bar</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card text-center">
                                <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices3" src="{% static 'img/img-art3.jpg' %}">
                                <h4 class="card-header">Shavasana SPA</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-center">
                                <img class="card-img-top align-self-center rounded-circle mx-auto d-block" id="imgServices4" src="{% static 'img/img-art4.jpg' %}">
                                <h4 class="card-header">Espacio cósmico</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <img class="img-fluid" src="{% static 'img/about-img.png' %}">
                </div>
            </div>
			<!--Horarios de atención-->
			<div class="schedule-area section-gap">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12">
                            <div class="section-title-wrap text-center">
                                <h1>Horario de Atencion</h1>
                                <p>Ven a clases diarias de Yoga & Meditacion para la Salud y Bienestar.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="table-wrap col-lg-6">
                            <table class="schdule-table table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th class="head" scope="col">Dia</th>
                                    <th class="head" scope="col">Hora</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="name" scope="row">Lunes</th>
                                    <td>10:00 am - 8:00 pm</td>
                                </tr>
                                <tr>
                                    <th class="name" scope="row">Martes</th>
                                    <td>9:00 am - 8:00 pm</td>
                                </tr>
                                <tr>
                                    <th class="name" scope="row">Miércoles</th>
                                    <td>9:00 am - 8:00 pm</td>
                                </tr>
                                <tr>
                                    <th class="name" scope="row">Jueves</th>
                                    <td>9:00 am - 8:00 pm</td>
                                </tr>
                                <tr>
                                    <th class="name" scope="row">Viernes</th>
                                    <td>9:00 am - 8:00 pm</td>
                                </tr>
                                <tr>
                                    <th class="name" scope="row">Sabado</th>
                                    <td>10:00 am - 12:00 pm</td>
                                </tr>
                                <tr>
                                    <th class="name" scope="row">Domingo</th>
                                    <td>Cerrado</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
			<!--Testimonios-->
			<section class="testomial-area mt-5">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h1>Comentarios de clientes</h1>
                                <p>Los clientes frecuenes comentaron que...</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-lg-4 col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <img class="img" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE5NTU2MzE2NDIwOTk4NjY3/bruce-lee-9542095-1-402.jpg">
                                </div>
                                <div class="card-body">


                                    <h4 class="card-title">Jet Lee</h4>

                                    <p class="card-description">
                                        “El precio siempre es un problema, solamente si usted suena igual que todo el mundo”.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <img class="img" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTIwNjA4NjM0MTk3MjE0NzMy/stan-lee-21101093-1-402.jpg">
                                </div>
                                <div class="card-body ">


                                    <h4 class="card-title">Stan Lee</h4>

                                    <p class="card-description">
                                        "Cuando he alcanzado una victoria no vuelvo a utilizar por segunda vez la misma táctica, sino que, según las circunstancias, varío mis métodos hasta el infinito”.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <img class="img" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0MTU0MTc3NzkzMTA3MzU1/beyonce-attends-tidal-x-1015-on-october-15-2016-in-new-york-city-photo-by-theo-wargogetty-images-for-tidal-sqaure.jpg">
                                </div>
                                <div class="card-body ">


                                    <h4 class="card-title">Unknow</h4>

                                    <p class="card-description">
                                        “Hacer negocios sin marketing es como guiñarle el ojo a una chica en la oscuridad. Sabes lo que estás haciendo, pero más nadie lo sabe”.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container d-none d-lg-block lineatiempo">
                <div class="page-header my-4">
                    <h1 id="timeline">Timeline: Redes Sociales</h1>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge primary"><i class="fa fa-check-square" aria-hidden="true"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">News Title Here</h4>
                                <p><small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> 11 hours ago</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge primary"><i class="fa fa-check-square" aria-hidden="true"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">News Title Here</h4>
                                <p><small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> 11 hours ago</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge primary"><i class="fa fa-check-square" aria-hidden="true"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">News Title Here</h4>
                                <p><small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> 11 hours ago</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
		</div>
  {% endblock %}
</html>
